<div id="<%= dom_id book %>">
  <div>
    <strong>Title:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= book.author %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= book.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= book.stock %>
  </div>

</div>
